<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="false"
        android:label="BlindAssist 深度体验"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <uses-native-library
            android:name="libcdsprpc.so"
            android:required="false" />
        <activity
            android:name="com.linnan.blindassist.hftf.DepthExperienceActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
